@model List<Movie>
@{
    ViewData["Title"] = "Movies - Index";
}

<h1>Movies Index</h1>
<a asp-action="Create"> Add New Movie</a>

<table>
    <tehead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>IMDB</th>
            <th>Price</th>
        </tr>
    </tehead>

    <tbody>
        @foreach (Movie movie in Model )
        {
        <partial name="../Shared/_MovieDetails.cshtml" model="movie" />
        }

    </tbody>
</table> 